* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Start of Header Section */
header {
    background-color: rgb(18, 35, 53);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    background-size: cover;
    background-attachment: fixed;
    z-index: 9999;
    padding: 20px 35px;
    background-position: 80% center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    margin: 0px;
}

header h1 a {
    background-color: rgb(175, 238, 238);
    color: rgb(18, 35, 53);
    text-decoration: none;
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: rgb(175, 238, 238);
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    padding: 10px 15px;
    text-decoration: underline;
}
/* End of Header Section/

/* Start of About Me Section */
.about{
    margin: 50px auto;
    padding-right: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about h2 {
    flex: 1 30%;
    font-size: 20px;
    border-right: 4px solid rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.about-me p{ 
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}